<div class="todo-detail-content" align="center" *ngIf="todo | async; let todo;">
  <div class="actions">
    <button mat-raised-button (click)="goBack()" class="action-btn">
      <i class="material-icons">
        arrow_back
      </i>
    </button>
    <button mat-raised-button *ngIf="!editMode" (click)="switchEditModeOn()" class="action-btn">
      <i class="material-icons">
        edit
      </i>
    </button>
    <button mat-raised-button *ngIf="editMode" (click)="editTodo(todo)" class="action-btn">
      <i class="material-icons">
        done
      </i>
    </button>
    <button mat-raised-button *ngIf="!editMode" (click)="deleteTodo(todo)" color="warn" class="action-btn">
      <i class="material-icons">
        delete_forever
      </i>
    </button>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{todo.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="!editMode">
        {{todo.description}}
      </p>
      <mat-form-field *ngIf="editMode">
        <textarea matInput
                  name="todo-description"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="todo.description"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <mat-radio-group [(ngModel)]="todo.state">
        <mat-radio-button value="{{todoStateEnum.toDo}}">To Do</mat-radio-button>
        <mat-radio-button value="{{todoStateEnum.inProgress}}">In Progress</mat-radio-button>
        <mat-radio-button value="{{todoStateEnum.done}}">Done</mat-radio-button>
      </mat-radio-group>
    </mat-card-actions>
  </mat-card>
</div>

