.add-todo-icon {
  font-size: 50px;
  color: #066987;
  cursor: pointer;
}

.title {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.title h1 {
  margin-right: 30px;
}
